<mat-toolbar color="accent">
    <a routerLink="/" mat-icon-button class="example-icon">
        <mat-icon>menu_book</mat-icon>
    </a>
    <span>Exam Portal</span>
    <span class="example-spacer"></span>
    <a *ngIf="!isLoggedIn" [routerLink]="'/login'" mat-button class="example-icon favorite-icon">
        Login
    </a>
    <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-button class="example-icon favorite-icon">
        Signup
    </a>
    <a  *ngIf="isLoggedIn && user" mat-button class="example-icon favorite-icon" routerLink="/admin/profile">
        <!-- {{login.getUser().username}} -->
        {{user.username}}
    </a>
    <a (click)="logout()" *ngIf="isLoggedIn" mat-button class="example-icon favorite-icon">
        Logout
    </a>
</mat-toolbar>